/* responsive - Constrain the maximum width of the design for wide viewport */

.container {
    margin: auto; /* browser defines it. align in center if element is display: block */
    max-width: 800px;
}

/* responsive - clear the floats */

.float-clear {
    clear: both;
}

/* responsive - Increase margin, padding or text size for wide viewport */

/* responsive - Float the Form element for wide viewport */

#headline form {
    float: left;
    width: 45%;
    box-sizing: border-box; /* use border as width instead of content */
    padding: 3%;
}

h1,
h2,
h3,
.not-footer p,
label,
button[type=text],
button[type=email],
button[type=password] {
    text-align: left;
}

#headline form input {
    text-align: middle;
}

