.container {
    margin: auto; /* browser defines it. align in center if element is display: block */
    max-width: 800px;
}

.container-core {
    margin-top: 25px;
}

.float-clear {
    clear: both;
}

#headline form {
    float: left;
    width: 45%;
    box-sizing: border-box; /* use border as width instead of content */
    padding: 3%;
}

h1,
h2,
h3,
h4,
.not-footer p,
label,
input[type=text],
input[type=email],
input[type=password] {
    text-align: left;
}

#headline form input {
    text-align: middle;
}

#section2 #comment-real {
    height: 200px;
}